}
.nav {
    float: left;

    background-color:gray;
    text-decoration: none;

}
a {
    color: white;
    text-decoration: none;
}
main {

    float: right;
    background-color: white;
}
img{
    min-height: 200px;
}
