
.nav {

    background-color:gray;
    text-decoration: none;
e
}
a {
    color: white;
    text-decoration: none;
}
main {

    float: right;
    background-color: white;
}
img{
    min-height: 200px;
}
