}
.nav {
    float: left;
    height: inherit;
    background-color: #444C63;
    text-decoration: none;
    display: block;
}
a {
    color: white;
    text-decoration: none;
}
main {
    display: inline-block;
    float: right;
    background-color: white;
}
